NET "clk" LOC = "E12"  | IOSTANDARD = LVCMOS33 | PERIOD = 20.000 ;

NET "CS" LOC = "Y18" | IOSTANDARD = LVCMOS33 | SLEW = FAST | CLOCK_DEDICATED_ROUTE = FALSE;
NET "SCK" LOC = "W18" | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "MISO" LOC = "V17" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "MOSI" LOC = "W17" | IOSTANDARD = LVCMOS33 | SLEW = FAST;

NET "LED<7>" LOC = "W21" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<6>" LOC = "Y22" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<5>" LOC = "V20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<4>" LOC = "V19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<3>" LOC = "U19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<2>" LOC = "U20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<1>" LOC = "T19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "LED<0>" LOC = "R20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

NET "A11" LOC = "A11" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "A12" LOC = "A12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "A10" LOC = "A10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "C10" LOC = "C10" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;

NET "A8" LOC = "A8" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;
NET "A9" LOC = "A9" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 8 ;