
NET "CLK_8MHZ" LOC = "P85" | IOSTANDARD = LVCMOS33 | PERIOD = 20.000 ;

NET "M_Enable<0>" LOC = "P70"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "M_Enable<1>" LOC = "P86"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "M_Enable<2>" LOC = "P9"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;

NET "M_Dir<0>" LOC = "P71" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "M_Dir<1>" LOC = "P88" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "M_Dir<2>" LOC = "P10" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;

NET "M_Reset<0>" LOC = "P73" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "M_Reset<1>" LOC = "P93" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "M_Reset<2>" LOC = "P13" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;

NET "M_Step<0>" LOC = "P65" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "M_Step<1>" LOC = "P84" | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;
NET "M_Step<2>" LOC = "P6"  | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW;

NET "M_Fault<0>" LOC = "P72" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | PULLUP;
NET "M_Fault<1>" LOC = "P89" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | PULLUP;
NET "M_Fault<2>" LOC = "P12" | IOSTANDARD = LVCMOS33 | SLEW = SLOW | PULLUP;

NET "M_Stop<0>" LOC = "P3" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET "M_Stop<1>" LOC = "P4" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET "M_Stop<2>" LOC = "P5" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET "M_Stop<2>" LOC = "P19" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET "M_Stop<4>" LOC = "P20" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET "M_Stop<5>" LOC = "P15" | IOSTANDARD = LVCMOS33 | SLEW = SLOW;

NET "CS" LOC = "P48"   | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
#NET "DAC_CS" LOC = "P60"    | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "SCK" LOC = "P59"       | IOSTANDARD = LVCMOS33 | SLEW = FAST;
NET "IRQ" LOC = "P16"       | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "MISO" LOC = "P57"      | IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = FAST;
NET "MOSI" LOC = "P56"      | IOSTANDARD = LVCMOS33 | SLEW = FAST;

